.wrapper {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.active {
  width: 200px;
  height: 100vh;
  background-color: antiquewhite;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.nav {
  display: flex;
  flex-direction: column;
}
