.circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 0px;
  padding: 10px;
  background-color: #ffff;
}

.circle:hover {
  background-color: antiquewhite;
}

@media (max-width: 768px) {
  .circle {
    width: 40px; /* 작은 크기로 조절 */
    height: 40px; /* 작은 크기로 조절 */
    font-size: 12px; /* 작은 폰트 크기로 조절 */
  }
}
